<p>dashboard-card-calculation works!</p>
<p>{{test}}</p>
<div class="plan-container">
  <div class="category-container">A</div>
  <div class="progress-container">
    <app-dashboard-progress-bar
      [progressValue]="40"
      [prefixValue]="1.04 | percent"
      [suffixValue]="0.06 | percent"
      [firstProgressValue]="0.4 | percent"
      [secondProgressValue]="0.6 | percent"
      [firstUnderProgressValue]="'fact'"
      [middleUnderProgressValue]="'/'"
      [lastUnderProgressValue]="'plan'"
    ></app-dashboard-progress-bar>
  </div>
  <div class="plan-result-container">105%</div>
</div>
<div class="plan-container">
  <app-dashboard-progress-bar
    [progressValue]="40"
    [prefixValue]="1.04 | percent"
    [suffixValue]="0.06 | percent"
    [firstProgressValue]="0.4 | percent"
    [secondProgressValue]="0.6 | percent"
    [firstUnderProgressValue]="'fact'"
    [middleUnderProgressValue]="'/'"
    [lastUnderProgressValue]="'plan'"
  ></app-dashboard-progress-bar>
</div>
