<div class="calculation-container">
  <div class="category-boards-container">
    <div>
      <app-dashboard-category-progress-board
        [category]="categoryA"
        [planResult]="planResultA | percent"
        [dashboardProgressBar]="dashboardProgressBarA"
      ></app-dashboard-category-progress-board>
    </div>
    <app-dashboard-category-progress-board
      [category]="categoryB"
      [planResult]="planResultB | percent"
      [dashboardProgressBar]="dashboardProgressBarB"
    ></app-dashboard-category-progress-board>
  </div>
</div>
