<div class="main-container">
  <mat-expansion-panel class="table-parent mat-elevation-z8" [expanded]="isOpenedEditor">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Редагування користувача
      </mat-panel-title>
      <mat-panel-description>
        Натисни для відкриття/закриття
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (ngSubmit)="addUser()" [formGroup]="userForm">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Телефон</mat-label>
          <label>
            <input [formControl]="phoneNumber" matInput maxlength="13" placeholder="Телефон" required>
          </label>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline">
          <mat-label>Користувач</mat-label>
          <label>
            <input [formControl]="displayName" matInput placeholder="Користувач">
          </label>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-label>Роль</mat-label>
          <mat-select [formControl]="userRole" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let role of keys(roles)" [value]="roles[role]">
              {{roles[role]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userRole.hasError('required')">Виберіть роль</mat-error>
        </mat-form-field>
        &nbsp;
        <button class="submit-button" mat-raised-button type="submit">Зберегти</button>
        &nbsp;
        <button color="warn" mat-raised-button type="reset" (click)="closeEditor()">Відмінити</button>
      </div>
      <div class="example-container">
        <h2>Доступні ПЗД</h2>

        <mat-chip-list
          cdkDropList
          #codeList="cdkDropList"
          [cdkDropListData]="codePPD.value"
          [cdkDropListConnectedTo]="[ppdList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-chip
            (removed)="remove(item)"
            *ngFor="let  item of codePPD.value"
            [removable]="removable"
            class="submit-button"
            [selectable]="selectable" cdkDrag>
            {{item.name}}
            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="example-container">
        <h2>Всі ПЗД</h2>

        <mat-chip-list
          cdkDropList
          #ppdList="cdkDropList"
          [cdkDropListData]="getPpds()"
          [cdkDropListConnectedTo]="[codeList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-chip
            (removed)="remove(item)"
            *ngFor="let  item of getPpds()"
            [removable]="removable"
            [selectable]="selectable" cdkDrag>
            {{item.name}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </form>
  </mat-expansion-panel>
  <div class="table-parent">
    <table *ngIf="!!(users | async) && (users | async).length!== 0"
           [dataSource]="users" class="mat-elevation-z8 full-width border-table"
           mat-table>
      <!--      <ng-container matColumnDef="RDMS">-->
      <!--        <th mat-header-cell *matHeaderCellDef> ТТ</th>-->
      <!--        <td mat-cell class="left-align" *matCellDef="let rdmsRegistration"-->
      <!--            [ngStyle]="getCellStyle(rdmsRegistration)">-->
      <!--          {{rdmsRegistration['codeRDMS']}}-->
      <!--          <br>-->
      <!--          {{rdmsRegistration['nameRDMS']}}-->
      <!--          <br>-->
      <!--          {{rdmsRegistration['addressRDMS']}}-->
      <!--          <br>-->
      <!--          {{rdmsRegistration['nameCompany']}}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="codeNameRDMS">-->
      <!--        <th mat-header-cell *matHeaderCellDef> Назва ТТ</th>-->
      <!--        <td mat-cell class="left-align" *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
      <!--          {{rdmsRegistration['codeRDMS']}}-->
      <!--          <br>-->
      <!--          {{rdmsRegistration['nameRDMS']}}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="addressRDMS">-->
      <!--        <th mat-header-cell *matHeaderCellDef> Адреса ТТ</th>-->
      <!--        <td mat-cell class="left-align" *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
      <!--          {{rdmsRegistration['addressRDMS']}}-->
      <!--          <br>-->
      <!--          {{rdmsRegistration['nameCompany']}}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="typeRDMS">-->
      <!--        <th mat-header-cell *matHeaderCellDef> Тип</th>-->
      <!--        <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
      <!--          {{isHandset$ ? rdmsRegistration['typeRDMS'].charAt(0) : rdmsRegistration['typeRDMS']}}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="namePPD">-->
      <!--        <th mat-header-cell *matHeaderCellDef> ПЗД</th>-->
      <!--        <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
      <!--          {{rdmsRegistration['namePPD']}}-->
      <!--        </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="allCount">-->
      <!--        <th mat-header-cell *matHeaderCellDef>-->
      <!--          <mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>-->
      <!--        </th>-->
      <!--        <td mat-cell *matCellDef="let rdmsRegistration"-->
      <!--            [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['allCount']}} </td>-->
      <!--      </ng-container>-->
      <!--      <ng-container matColumnDef="onCheckingCount">-->
      <!--        <th mat-header-cell *matHeaderCellDef>-->
      <!--          <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>-->
      <!--        </th>-->
      <!--        <td mat-cell *matCellDef="let rdmsRegistration"-->
      <!--            [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['onCheckingCount']}} </td>-->
      <!--      </ng-container>-->
      <ng-container matColumnDef="phoneNumber">
        <th *matHeaderCellDef mat-header-cell>
          <mat-icon aria-hidden="false" aria-label="Example home icon">contact_phone</mat-icon>
        </th>
        <td *matCellDef="let user" mat-cell>
          {{user['phoneNumber']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="displayName">
        <th *matHeaderCellDef mat-header-cell>
          Користувач
        </th>
        <td *matCellDef="let user" mat-cell>
          {{user['displayName']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="userRole">
        <th *matHeaderCellDef mat-header-cell>
          Роль
        </th>
        <td *matCellDef="let user" mat-cell>
          {{user['userRole']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="editUser">
        <th *matHeaderCellDef mat-header-cell>
        </th>
        <td *matCellDef="let user" mat-cell>
          <button (click)="editUser(user)" color="accent" mat-icon-button>
            <mat-icon aria-hidden="false"
                      aria-label="Edit icon">edit
            </mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="deleteUser">
        <th *matHeaderCellDef mat-header-cell>
        </th>
        <td *matCellDef="let user" mat-cell>
          <button (click)="deleteUser(user)" color="primary" mat-icon-button>
            <mat-icon aria-hidden="false"
                      aria-label="Delete icon">delete
            </mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="(isHandset$ | async) ? displayedColumns : displayedColumns; sticky: true"
          mat-header-row></tr>
      <tr *matRowDef="let row; columns: (isHandset$ | async) ? displayedColumns : displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>

