<div class="flip-dashboard-container">
  <div #dashboardCard class="flip-dashboard-card" [class.rotate-card]="rotate">
    <mat-card class="front-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{frontDashboardCardName}}
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            <mat-slide-toggle [(ngModel)]="checkedData"
                              (ngModelChange)="setDefaultFooterLabel()" color="primary">{{toggleName}}</mat-slide-toggle>
          </div>
          {{registrationIndicator?.calculationDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-card-calculation
          *ngIf="registrationIndicator"
          [isChecked]="checkedData"
          [registrationIndicator]="registrationIndicator"
        ></app-dashboard-card-calculation>
        <app-dashboard-progress-chart
          *ngIf="progressChartSeries"
          [isChecked]="checkedData"
          [height]="230"
          [progressChartSeries]="progressChartSeries"
        ></app-dashboard-progress-chart>
        <app-dashboard-progress-radial-bar
          *ngIf="progressSeries"
          [isChecked]="checkedData"
          [progressSeries]="progressSeries"
          [seriesLabels]="seriesLabels"
          [totalLabel]="totalLabel"
        ></app-dashboard-progress-radial-bar>
        <div *ngIf="salaryIndicators" class="radialbar-label">{{radialbarLabel | number}}</div>
        <app-dashboard-salary-radial-bar
          *ngIf="salaryIndicators"
          [isChecked]="checkedData"
          [salaryIndicators]="salaryIndicators"
          (mouseEvent)="setFooterLabel($event)"
        >
        </app-dashboard-salary-radial-bar>
      </mat-card-content>
      <mat-card-footer>
        <button *ngIf="hasBackCard" (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="back-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{backDashboardCardName}}
        </mat-card-title>
        <mat-card-subtitle>
          <mat-slide-toggle [(ngModel)]="checkedData" color="primary">{{toggleName}}</mat-slide-toggle>
          {{registrationIndicator?.calculationDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-rank
          *ngIf="employees"
          [isChecked]="checkedData"
          [employees]="employees"
          [userCode]="userCode"
          [showAbsoluteLevel]="showAbsoluteLevel"
        ></app-dashboard-rank>
      </mat-card-content>
      <mat-card-footer>
        <button *ngIf="hasBackCard" (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>


