<div class="flip-dashboard-container">
  <div #dashboardCard class="flip-dashboard-card">
    <mat-card class="front-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{dashboardCardName}}
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            <mat-slide-toggle [(ngModel)]="checkedData"
                              (ngModelChange)="setDefaultFooterLabel()" color="primary">Перевірено</mat-slide-toggle>
          </div>
          {{registrationIndicator?.calculationDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-rank
          *ngIf="employees"
          [isChecked]="checkedData"
          [employees]="employees"
          [userCode]="registrationIndicator.codePPD"
        ></app-dashboard-rank>
        <app-dashboard-progress-radial-bar
          *ngIf="radialBarSeries"
          [radialBarSeries]="radialBarSeries"
        ></app-dashboard-progress-radial-bar>
        <app-dashboard-salary-radial-bar
          *ngIf="salaryIndicators"
          [isChecked]="checkedData"
          [salaryIndicators]="salaryIndicators"
          (mouseEvent)="setFooterLabel($event)"
        >
        </app-dashboard-salary-radial-bar>
      </mat-card-content>
      <mat-card-footer>
        <div *ngIf="salaryIndicators" class="footer-label">{{footerLabel | number}}</div>
        <button *ngIf="hasBakCard" (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
    <mat-card *ngIf="hasBakCard" class="back-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Розрахунок
        </mat-card-title>
        <mat-card-subtitle>
          <mat-slide-toggle [(ngModel)]="checkedData" color="primary">Перевірено</mat-slide-toggle>
          {{registrationIndicator.calculationDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-card-calculation
          [isChecked]="checkedData"
          [registrationIndicator]="registrationIndicator"
        ></app-dashboard-card-calculation>
      </mat-card-content>
      <mat-card-footer>
        <button (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>


