<div class="flip-dashboard-container">
  <div #dashboardCard class="flip-dashboard-card">
    <mat-card class="front-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{dashboardCardName}}
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            <mat-slide-toggle [(ngModel)]="checkedData" color="primary">Перевірено</mat-slide-toggle>
          </div>
          {{dataDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-rank
          [employees]="employees"
          [userCode]="userCode"
        ></app-dashboard-rank>
        <app-dashboard-progress-radial-bar [radialBarSeries]="radialBarSeries"></app-dashboard-progress-radial-bar>
      </mat-card-content>
      <mat-card-footer>
        <button #rotateButton (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="back-dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Розрахунок
        </mat-card-title>
        <mat-card-subtitle>
          <mat-slide-toggle [(ngModel)]="checkedData" color="primary">Перевірено</mat-slide-toggle>
          {{dataDate | date:'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-dashboard-card-calculation></app-dashboard-card-calculation>
      </mat-card-content>
      <mat-card-footer>
        <button (click)="rotateCard(dashboardCard)" color="accent" mat-mini-fab>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>


