<div class="category-progress-board-container">
  <div class="category-container">{{category}}</div>
  <div class="progress-container">
    <app-dashboard-progress-bar
      [dashboardProgressBar]="dashboardProgressBar"
    ></app-dashboard-progress-bar>
  </div>
  <div class="plan-result-container">{{planResult}}</div>
</div>

<!--[firstProgressValue]="0.1 | percent"-->
<!--[suffixValue]="'12'"-->
<!--[firstProgressValueLabel]="'2'"-->
<!--[firstUnderProgressValue]="'fact: 30%'"-->
<!--[middleUnderProgressValue]="'/'"-->
<!--[lastUnderProgressValue]="'plan: 65%'"-->
<!--[progressBarFontColor]="'#fff'"-->
