.example-container {
  height: 400px;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-cell, th.mat-header-cell {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}
