<!--<table *ngIf="filteredRdmsRegistrations && filteredRdmsRegistrations.length!== 0"-->
<!--       mat-table [dataSource]="filteredRdmsRegistrations"-->
<!--       class="mat-elevation-z8 full-width border-table">-->
<!--  <ng-container matColumnDef="RDMS">-->
<!--    <th mat-header-cell *matHeaderCellDef> ТТ</th>-->
<!--    <td mat-cell class="left-align" *matCellDef="let rdmsRegistration"-->
<!--        [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{rdmsRegistration['codeRDMS']}}-->
<!--      <br>-->
<!--      {{rdmsRegistration['nameRDMS']}}-->
<!--      <br>-->
<!--      {{rdmsRegistration['addressRDMS']}}-->
<!--      <br>-->
<!--      {{rdmsRegistration['nameCompany']}}-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="codeNameRDMS">-->
<!--    <th mat-header-cell *matHeaderCellDef> Назва ТТ</th>-->
<!--    <td mat-cell class="left-align" *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{rdmsRegistration['codeRDMS']}}-->
<!--      <br>-->
<!--      {{rdmsRegistration['nameRDMS']}}-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="addressRDMS">-->
<!--    <th mat-header-cell *matHeaderCellDef> Адреса ТТ</th>-->
<!--    <td mat-cell class="left-align" *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{rdmsRegistration['addressRDMS']}}-->
<!--      <br>-->
<!--      {{rdmsRegistration['nameCompany']}}-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="typeRDMS">-->
<!--    <th mat-header-cell *matHeaderCellDef> Тип</th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{isHandset$ ? rdmsRegistration['typeRDMS'].charAt(0) : rdmsRegistration['typeRDMS']}}-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="namePPD">-->
<!--    <th mat-header-cell *matHeaderCellDef> ПЗД</th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{rdmsRegistration['namePPD']}}-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="allCount">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration"-->
<!--        [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['allCount']}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="onCheckingCount">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration"-->
<!--        [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['onCheckingCount']}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="checkedDudCount">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration"-->
<!--        [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['checkedDudCount']}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="plan">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">assignment</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration"-->
<!--        [ngStyle]="getCellStyle(rdmsRegistration)"> {{rdmsRegistration['plan']}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="toMake">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">next_week</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      {{toMakeRdmsRegistration(rdmsRegistration)}}({{toMakeUncheckedRdmsRegistration(rdmsRegistration)}})-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="hasPPRContract">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-icon aria-hidden="false" aria-label="Example home icon">assignment_turned_in</mat-icon>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let rdmsRegistration" [ngStyle]="getCellStyle(rdmsRegistration)">-->
<!--      <mat-icon aria-hidden="false"-->
<!--                aria-label="Example home icon">{{rdmsRegistration['hasPPRContract'] ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <tr mat-header-row-->
<!--      *matHeaderRowDef="(isHandset$ | async) ? displayedColumnsHandset : displayedColumns; sticky: true"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: (isHandset$ | async) ? displayedColumnsHandset : displayedColumns;"-->
<!--      [ngStyle]="getRowStyle(row)"></tr>-->
<!--</table>-->
