/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
  padding: 1rem;
  display: block;
}
.header-container {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}
.filter-container {
  padding: 1rem 1rem 0 1rem;
}
.filter-container mat-card mat-form-field {
  margin-right: 0.5rem;
}
.menu-button-row {
  padding: 0 1rem 0 1rem;
}
.menu-button-row button,
.menu-button-row a {
  margin: 0 8px 8px 0;
  /*margin-right: 8px;*/
  /*margin-right: 8px;*/
}
